*.pbix linguist-language=PowerBI

# Ignorar arquivos de dados e auxiliares
*.csv linguist-generated
*.xlsx linguist-generated
*.xls linguist-generated
*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated

# Ignorar notebooks ou outros arquivos auxiliares
*.ipynb linguist-generated
